---
---

@import "{{ site.theme }}";

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.two-columns>div {
  overflow: auto;
}

img {
  max-height: 360px;
  max-width: 100%;
  width: auto;
  height: auto;
}

video {
  max-height: 360px;
  max-width: 100%;
  width: auto;
  height: auto;
}
