---
---

@import "{{ site.theme }}";

.columns-report {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.container-lg {
  max-width: 1400px;
}

@import "sortable";
